<html>
  <head>

  </head>
  <body>
    <form action="{{ url_for('add_recipe') }}" method="POST">
        <label for="name">Dish name</label>
        <input name="name" type="text" required>
        <label for="description">Please provide a short desciription</label>
        <input name="description" type="text" required>
        <label for="author">Author's name</label>
        <input name="author" type="text" required>
        <label for="cuisine">Cuisine</label>
        <input name="cuisine" type="text" required>
        <label for="vegetarian">Vegetarian</label>
        <input type="checkbox" name="vegetarian">
        <label for="allergens">Allergens</label>
        <input name="allergens" type="text" required>
        <label for="ingredients">Ingredients</label>
        <input name="ingredients" type="text" class="form-control" id="ingredients" required>
        <label for="preparation">Preparation</label>
        <textarea name="preparation" placeholder="Enter your desciription here" required></textarea>
      <button type="submit" class="btn btn-primary">Add recipe</button>
    </form>
  </body>
</html>