{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>
  <a href="{{xxx}}">views sorting asc</a>
  <a href="{{url_for('sorting') + '?sort=views&direction=desc'}}">views descending</a>
  <a href="{{url_for('sorting') + '?sort=cuisine&direction=asc'}}">cuisine ascending</a>
  <a href="{{url_for('sorting') + '?sort=cuisine&direction=desc'}}">cuisine descending</a>
  <div class="row">
    {% for recipe in recipes %}
    <div style="border: 1px solid black;" class="col-lg-3 mx-1 my-1">
      <p><strong>{{recipe.name}}</strong></p>
      <p>{{recipe.description}}</p>
      <p>{{recipe.author}}</p>
      <p>Cuisine: {{recipe.cuisine}}</p>
      <a href="{{ url_for('single_recipe', recipe_id=recipe._id) }}">Read more</a>
      <p>Views: {{recipe.views}}</p>
      <p>Likes: {{recipe.votes}}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}