{% extends 'base.html' %}
{% block content %}
<div class="container my-container">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>
  <div class="row">
  <ul class="sorting__list">
    <li><a href="{{xxx}}">views sorting asc</a></li>
    <li><a href="{{url_for('sorting') + '?sort=views&direction=desc'}}">views descending</a></li>
    <li><a href="{{url_for('sorting') + '?sort=cuisine&direction=asc'}}">cuisine ascending</a></li>
    <li><a href="{{url_for('sorting') + '?sort=cuisine&direction=desc'}}">cuisine descending</a></li>
  </ul>
  <a href="{{xxx}}">views sorting asc</a>
  <a href="{{url_for('sorting') + '?sort=views&direction=desc'}}">views descending</a>
  <a href="{{url_for('sorting') + '?sort=cuisine&direction=asc'}}">cuisine ascending</a>
  <a href="{{url_for('sorting') + '?sort=cuisine&direction=desc'}}">cuisine descending</a>
</div>
  <div class="row my-row">
    {% for recipe in recipes %}
    <div class="col-lg-4 col-md-6 my-col justify-content-between mx-1 my-1">
      <p><strong>{{recipe.name}}</strong></p>
      <p>{{recipe.description}}</p>
      <p>{{recipe.author}}</p>
      <p>Cuisine: {{recipe.cuisine}}</p>
      <a href="{{ url_for('single_recipe', recipe_id=recipe._id) }}">Read more</a>
      <p>Views: {{recipe.views}}</p>
      <p>Likes: {{recipe.votes}}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}